@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.Spinner {
  display: inline-block;
  border: 10px solid rgba(0, 0, 0, .1);
  border-left-color: hsl(204, 86%, 53%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1.2s linear infinite;
  margin-top: -50px;
}