@import 'bulma/bulma';
@import '_config.scss';

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $colorLight;
}

.App {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  padding-left: 100px;
}