@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';
@import '_config.scss';

$primary: $colorBlue;
$section-padding: 1.5rem 1.5rem;

@import 'bulma/sass/utilities/derived-variables.sass';
@import 'bulma/bulma';



html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: $colorLight;
}

.App {
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    padding-left: 100px;
  }
}